.PublicacionArticle {
  display: flex;
  gap: 10px;
  padding: 10px;
  max-width: 600px;
  border-bottom: 1px solid $gray-color;
}

.PublicacionImagenContenedor {
  padding-left: 10px;
}

.PublicacionContenidoContenedor {
  padding-top: 5px;
}

.PublicacionHeader {
  display: flex;
  gap: 10px;

  .PublicacionName {
    font-weight: map-get($font-weights, bold);
  }

  .PublicacionUsername,
  .PublicacionDate {
    color: $gray-color;
  }
}

.PublicacionParagraph {
  margin-top: 5px;
  margin-bottom: 10px;
}

.PublicacionFooter {
  display: flex;
  gap: 100px;

  & div {
    display: flex;
    gap: 6px;
    color: $gray-color;
  }
}