.imagen-small {
  width: 40px;
  border-radius: 100%;
}

.imagen-medium {
  width: 48px;
  border-radius: 100%;
}

.imagen-large {
  width: 68px;
  border-radius: 100%;
}

.imagen-xlarge {
  max-width: 504px;
  border-radius: 15px;
}