$main-color: #01a3f4;
$white-color: #fff;
$gray-color: #9eabae;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}