* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cont-all {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contenedor-botones {
  display: flex;
  gap: 10px;
}