@mixin smallBoton {
  padding: 8px 20px;
  font-weight: map-get($font-weights, bold);
  border: 2px solid $main-color;
  border-radius: 20px;
}
.BotonTweet {
  @include smallBoton;
  color: $white-color;
  background-color: $main-color;
}

.BotonFollow {
  @include smallBoton;
  color: $main-color;
  background-color: $white-color;
}